body  {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 14px;
  line-height: 1;
  color: black;
  /*color: #f7f4f1;*/
  font-weight: bold;
}

html,
body {
   min-width: 1122px;
   margin: 0;
   padding: 0;
}

.clearfix::after {
   content: "";

   display: table;
   clear: both;
}

.container {
   width: 940px;
   padding: 0 10px;
   margin: 0 auto;
}

.main-header{
   margin-bottom: 60px;
}

.main-navigation {
   width: 780px;
   float: left;
   min-height: 70px;
}

.user-block {
   float: right;
   width: 140px;
   min-height: 70px;
}

.index-logo {
   height: 204px;
   width: 368px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 25px;
}

.features {
   margin-bottom: 80px;
}

.features-item {
   float: left;
   width: 300px;
   margin-right: 20px;
   min-height: 175px;
}

.features-item:last-child {
   margin-right: 0;
}

.index-content {
   margin: 50px 80px 35px;
}

.index-content-left {
   float: left;
   width: 380px;
   min-height: 330px;
}

.index-content-right {
   float: right;
   width: 300px;
   min-height: 330px;

}

.main-footer {
   margin-top: 65px;
   padding-top: 60px;
   padding-bottom: 40px;

}

.footer-contacts {
   float: left;
   width: 320px;
   margin-right: 60px;
   min-height: 90px;
}

.footer-social {
   float: left;
   width: 180px;
   min-height: 90px;
}

.footer-copyright {
   float: right;
   width: 180px;
   min-height: 90px;
}

/*barbershop-shop*/
.logo {
  float: left;
  min-height: 70px;
  width: 140px;
  background-color: red;
  margin-right: 20px;
}

.prefix {
  float: left;
  width: 620px;
  min-height: 70px;
}

.title-h2 {
  background-color: yellow;
  margin-top: 55px;
  margin-bottom: 25px;
}

.breadcrumbs {
  width: 300px;
  min-height: 25px;
  margin-bottom: 45px;
}

.shop-list {
  float: left;
  width: 220px;
  min-height: 580px;
  margin-right: 20px;
  background-color: orange;
}

.goods-catalog {
  float: left;
  margin-bottom: 30px;
  background-color: red;
  width: 700px;
  font-size: 0;
}

.goods-card {
  display: inline-block;
  width: 220px;
  min-height: 288px;
  font-size: 14px;
  background-color: green;
  margin-right: 20px;
  margin-bottom: 45px;
}

.goods-card:nth-child(3n) {
  margin-right: 0;
}

.pagination {
  float: left;
  width: 100%;
  min-height: 45px;
  margin-bottom: 50px;
  background-color: pink;
  font-size: 14px;

/* задать верный margin-top   */
}

/*barbershop-item*/
.item-card {
  margin-top: 55px;
  background-color: yellow;
}

.item-card-left {
  float: left;
  width: 460px;
  margin-right: 80px;
  min-height: 670px;
  margin-bottom: 50px;
  font-size: 0;
  background-color: red;
}

.item-card-right {
  float: left;
  width: 390px;
  min-height: 540px;
  background-color: red;
}

.item-gallery {
  display: inline-block;
  margin-top: 20px;
  margin-right: 20px;
}

.item-gallery:last-child {
  margin-right: 0;
}

.item-card-information {
  background-color: pink;
  min-height: 212px;
  font-size: 0;
  margin-bottom: 40px;
}

/* не могу span'ы правильно разместить */

.in-stock{
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 40px;
  margin-right: 100px;
  width: 150px;
  background-color: green;
  font-size: 14px;
}

.article {
  dispaly: inline-block;
  width: 140px;
  background-color: green;
  font-size: 14px;
  text-align: right;
}

p {
  font-size: 14px;
}

.item-card-price {
  min-height: 43px;
  width: 187px;
  background-color: grey;
  margin-bottom: 65px;
}

.item-card-description {
  background-color: purple;
  min-height: 175px;
}

h3 {
  font-size: 24px;
  margin-bottom: 35px;
}





/*======================================
 Системное оформление - не изменять
=======================================*/

body {
  padding: 3px;
}

body > *,
body > * > *,
body > * > * > * {
  position: relative;
}

body > *::before,
body > * > *::before,
body > * > * > *::before {
  content: "";
  position: absolute;

  height: 24px;
  padding: 2px 5px;

  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  font-family: "Courier New", monotype;
  white-space: nowrap;
}

body > *::before {
  top: -3px;
  left: -3px;
}

body > * > *::before {
  top: -3px;
  left: -3px;
}

body > * > * > *::before {
  top: 0;
  left: 0;
}

body > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}

body > *::before {
  color: white;

  background: green;
}

.main-header::before {
  content: ".main-header";
}
